body {
	font-family: sans-serif;
}

.axis text {
	font-size: 10px;

}

.axis path, .axis line {
	fill: none;
	stroke: #AAAAAA;
}

.bar .PN {
	fill: #FFD34E;
}

.bar .alternative_full {
	fill: #338833;
}

.bar .public_alternative {
	fill: #338833;
}

.bar .public_hydro {
	fill: #5634DD;
}

.bar text {
	font-size: 12px;
	fill: #003DC2;
}